.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: left;
  margin: 20px;
  padding: 10px;
}
